.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

#commentContent {
    width: 100%;
}

#lineDiv {
    border: 1px solid rgb(235, 235, 235);
    height: 100%;
}

#img {
    border-radius: 50%;
    height: 2em;
}

#commentHeader {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}

#authorText {
    font-size: 0.75em;
}

#dateText {
    color: rgb(102, 102, 102);
    font-size: 0.75em;
    font-weight: 400;
}

#contentText {
    margin-top: 0.5em;
    font-size: 0.9375em;
    font-weight: 400;
    overflow-wrap: break-word;
    word-break: break-word;
}

#commentFooter {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    margin: 0.5em 0 0 0;
}

#likesDiv {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    align-items: center;
}

.footerText {
    font-size: 0.75em;
    color: rgb(102, 102, 102);
    font-weight: 400;
    cursor: pointer;
}

#expandCommentButton {
    background-color: white;
    color: rgb(0, 155, 80);
    border: 1px solid rgb(0, 155, 80);
    font-size: 0.75em;
    font-weight: 400;
    height: 2em;
    padding: 0 1em;
    margin-top: 0.75em;
}