#container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75em;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

#newHeader {
    font-size: 0.875em;
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 2.9375em;
    box-shadow: rgb(0, 155, 80) 0px -2px 0px 0px inset;
    color: rgb(0, 155, 80);
    cursor: pointer;
    letter-spacing: -0.0.01425em;
    overflow-wrap: break-word;
}

#newHeader:hover {
    background-color: rgb(247, 247, 247);
}

#icon {
    color: rgb(26, 26, 26);
    cursor: pointer;
    font-weight: 500;
    width: 1.25em;
    padding: 0 0.5em;
}

#icon:hover {
    background-color: rgb(247, 247, 247);
}

.iconPath {
    stroke: rgb(26, 26, 26);
    stroke-width: 2px;
}

#postsContainer {
    display: flex;
    flex-direction: column;
}

#searchContainer {
    width: 40%;
}

#searchBar {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    margin: 0 1.5em 0.75em 1.5em;
    height: 2.9375em;
}

#searchInput {
    border: none;
    width: 100%;
}

#searchInput:focus, #searchInput.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#searchText {
    color: rgb(102, 102, 102);
    font-size: 1em;
    margin: 0 1.5em 0.75em 1.5em;

}
